html,body,#app{
  margin: 0px;
  padding: 0px;
}

// 蒙层样式
.smegma_style{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: inline-flex;
  vertical-align: top;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.prop_width{
  width: 80%;
}
// 当屏幕大于600宽时
@media screen and (min-width: 600px) {
  // 内容宽带
  .content_width{
    width: 340px;
    margin: auto;
  }
  // 弹窗宽度
  .prop_width{
    width: 280px;
  }
}